@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto";
    box-sizing: border-box;
    --btn-color: rgb(73, 101, 160);
    --invalid-color: rgb(204, 48, 48);
    --focus-color: rgb(34, 34, 176);
}

a {
    text-decoration: none;
}

#log-in {
    color: var(--btn-color);
}

body {
    display: flex;
}

#left-container {
    width: 300px;
    height: 500px;
    padding-right: 10px;
}

#img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: var(--btn-color);
    color: white;
    border-radius: 5px;
    border: none;
    height: 2.2em;
    width: 150px;
    cursor: pointer;

}
